.BudgetBuddy-form label {
  display: block;
  font-size: 16px;
  padding-bottom: 8px;
}

.BudgetBuddy-form input,
.BudgetBuddy-form textarea,
.BudgetBuddy-form select {
  font-size: 14px;
  padding: 8px;
  width: 300px;
}

.BudgetBuddy-form select {
  height: 33px;
}

.BudgetBuddy-form > .field {
  margin-bottom: 16px;
}
.BudgetBuddy-form > .buttons {
  margin-top: 26px;
}

.BudgetBuddy-form button[type="submit"]:hover {
  background-color: #29862e;
  color: white;
}